.custom-header {
    width: 100%;
    max-width: 100%;
    height: 80px;
    background-color: rgb(175, 185, 193);
    left: 0;
    top: 0;
    position: fixed;
    margin: 0;
    border-radius: 0;
    z-index: 300;
    box-sizing: border-box;
}

/* Add margin to left and right of header content */
.header-container {
    width: 100%;
    padding: 25px;
    margin-top: 10px;
    margin-left: 45px;
    /* You can adjust the value (e.g., 32px or 2rem) */
    margin-right: 38px;
}

.header-logo {
    height: 60px;
    width: 60px;
    margin: 20px;
    object-fit: contain;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

button {
    padding: 15px;
    margin: 15px;
}

.header-icon {
    font-size: 35px;
    cursor: pointer;
    color: #555b5b;
    transition: color 0.2s ease;
}

.header-icon:hover {
    color: #7eafe4;
}

.header-icon-notice {
    font-size: 30px;
    cursor: pointer;
    color: #638add;
    transition: color 0.2s ease;
}

.header-icon-notice:hover {
    color: #a85550;
}